
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

img{
  
    display:block;
}


*{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html{
    font-size: 16px;
}
/*heading*/


.header{
    display:flex;
    justify-content: center;
    align-items: center;
    height:30rem;
    flex-wrap:wrap;
    flex-direction:column;
    background-color:rgb(206, 144, 221);

}

.header h1{
    align-self:center;
    font-size:6rem;
    font-family:'Caveat Brush', cursive;
    
}

.header h2{
    align-self:center;
    font-size:3rem;
    font-family:'Caveat Brush', cursive;
}

/*navbar*/

.nav{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:5rem;
    margin-bottom:5rem;

}

.navbar{
    display:flex;
    margin-top:1rem;
    justify-content: center;
    align-items: center;
    position:fixed;
    border:3px solid aquamarine;
    width:100%;
    background-color: lightcoral;


}

.navbar li{
    padding:1.5rem;
    border:2px solid black;
    list-style-type: none;
    position:sticky;
    background-color: white;

}

.navbar a{
    text-decoration:none;
    padding:1.5rem;
}

.navbar a:active{
    color:purple;
}

.navbar a:hover{
    background-color:pink;
}



/*this is me*/

.me{
    display:flex;
    justify-content:space-between;
    border:5px dotted rgb(114, 21, 21);
    height:60vh;
    margin-top:3rem;


}

.me h3{
    font-size:2.5rem;
    margin-top:8rem;
    margin-left:20rem;
}

.me img{
    height:20rem;
    margin-right: 25rem;
    border-radius: 100px 200px;
    margin-top:1rem;
    margin-bottom:1rem;
}

/*banner*/

.banner{
    height:30rem;
    width:100%;
    background-image:url("https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80.png");
    background-repeat:none;
    background-position-x: center;
    background-position-y: top;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:2rem;
}

.banner h3{
    color:rgb(0, 2, 1);
    font-size:2rem;
    padding:3rem;
    background-color:cornsilk;

} 

/*old job*/

.old_job{
    display:flex;
    justify-content:center;
    align-items:center;
    height:40rem;
    border:4px solid green;
}

.old_job img{
    height:25rem;
}

.old_job p{
    margin:1rem;
    font-size:1.5rem;
    padding:1rem;
    border:3px solid salmon;
}

/*tech*/

.tech{
    display:flex;
    justify-content:center;
    align-items:center;
    height:40rem;
    border:4px solid green;
}

.tech img{
    height:25rem;
}

.tech p{
    margin:1rem;
    font-size:1.5rem;
    padding:1rem;
    border:3px solid goldenrod;
}

/*ABOUT ME*/

.aboutme{
    display:flex;
    justify-content: center;
    align-items:center;
    height:15rem;
    border:4px solid greenyellow;
    top:3rem;
}

.aboutme h3{
    font-size: 2rem;
}

.aboutme p{
    font-size:1rem;
}

/*learnin*/

.why_tech{
    display:flex;
    justify-content: center;
    align-items:center;
    height:15rem;
    border:4px solid greenyellow;
    top:3rem;
}

.why_tech h3{
    font-size: 2rem;
}

.why_tech p{
    font-size:1rem;

}
    
/*hobbies*/

.hobby{
    height:50rem;
    border:4px solid orangered;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column;
    margin-top:40rem;
}

.pic img{
    width:25rem;
    
}

.hobby h4{
    font-size: 6rem;
}

/*rollerblading*/

.rollerblades img{
    margin-top:-30rem;
    margin-left:-35rem;
    border-radius: 1000px 1000px;
    width:17rem;

}

.rollerblades p{
    height:10rem;
    width:10rem;
    display:block;
    margin-top:1rem;
    margin-left:-33rem;
    display:none
}

.rollerblades img:hover + .hover{
    display:block;

}

/*plants*/



